:root {
    /*Fonts*/
    --ral: "ral";
    --pop: "pop";
    --poplight: "poplight";
    --popxlight: "popxlight";
}

@font-face {
    font-family: "ral";
    src: url('./assets/fonts/Raleway-Regular.ttf')
}
@font-face {
    font-family: "pop";
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: "poplight";
    src: url('./assets/fonts/Poppins-Light.ttf')
}
@font-face {
    font-family: "popxlight";
    src: url('./assets/fonts/Poppins-ExtraLight.ttf')
}