.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(51, 65, 85); /*slate-700*/
    border-radius: 5px;
    margin: 5px;
    font-size: 2rem;
    color: rgb(203, 213, 225); /*slate-300*/
    min-height: 75px;
    min-width: 250px;
    cursor: pointer;
    transition: background-color 500ms ease;
}

.socialMedia:hover {
    background-color: rgb(71 85 105);
}